colorama
aiofiles # Asynchronous reading of metadata
opensimplex # World generation
cryptography # Key exchange
aiohttp # Authentication
humanize
typing_extensions>=4.1.0
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
